---
layout: home
title: Daytrading Unplugged
paginate: true
---

<div class="container">
    <div class="sidebar">
        <center>
            <h2><i class="fas fa-chart-line"></i> Trade Recaps</h2>
        </center>
        <ul>
            {% assign trade_recaps = site.posts | where: "categories", "trade-recap" | sort: 'date' | reverse %}
            {% for post in trade_recaps limit:5 %}
            <li>
                <a href="{{ post.url | relative_url }}"><i class="far fa-file-alt"></i> {{ post.date | date: "%B %d, %Y" }}</a>
            </li>
            {% endfor %}
        </ul>
        <center>
            <a href="{{ '/trade-recaps' | relative_url }}" class="view-more-link"> View All Recaps</a>
        </center>
    </div>

    <div class="main-content">
        <center>
            <h2>Latest Post</h2>
        </center>
        <hr>
        {% assign latest_posts = site.posts | sort: 'date' | reverse %}
        {% assign latest_non_trade_recap_post = null %}
        {% for post in latest_posts %}
            {% unless post.tags contains "trade-recap" %}
                {% assign latest_non_trade_recap_post = post %}
                {% break %}
            {% endunless %}
        {% endfor %}
        {% if latest_non_trade_recap_post %}
            <div class="latest-post">
                
    
                    <h2 class="post-title">{{ latest_non_trade_recap_post.title }}</h2>
                    <br>
                    <img src="{{ latest_non_trade_recap_post.author.image | relative_url }}" alt="{{ latest_non_trade_recap_post.author.name }} Thumbnail" class="author-thumbnail">
                    <div class="author-details">
                        
                        <p class="author-name">By {{ latest_non_trade_recap_post.author.name }}</p>
                        <p class="publish-date">{{ latest_non_trade_recap_post.date | date: "%B %d, %Y" }}</p>
                </div>
                <p>{{ latest_non_trade_recap_post.content }}</p>
            </div>
        {% else %}
            <p>No posts available.</p>
        {% endif %}
    </div>

    <div class="featured-posts">
        <h2>More Posts</h2>
        <div class="featured-posts-grid">
            {% for post in site.posts limit:3 %}
            <div class="featured-post">
                <div class="featured-post-text">
                <h3><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h3>
                <p>{{ post.date | date: "%B %d, %Y" }}</p>
                <a href="{{ post.url | relative_url }}">Read More</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<script src="{{ '/assets/js/table.js' | relative_url }}"></script>
