.hero {
    position: relative;
    background-image: url('/assets/images/design/stonks.png');
    background-size: cover;
    background-position: center;
    height: 400px;
    display: flex;
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    color: white;
    text-align: center;
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.8); /* Semi-transparent black overlay */
    z-index: 1; /* Ensure the overlay is behind the text */
}

.hero-text {
    position: relative;
    z-index: 3; /* Ensure the text is above the overlays */
    padding: 20px;
    border-radius: 10px;
    text-align: center; /* Center text within the container */
}

.hero h1 {
    font-size: 5em; /* Adjusted font size */
    font-family: "Bayon", sans-serif;
    font-weight: 400;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon {
    display: flex;
    align-items: center;
    margin-right: 10px;
    font-size: 2.5em; /* Increase the icon size */
    color: transparent; /* Make icon color transparent */
    -webkit-text-stroke: 2px white; /* Outline color and thickness */
    text-stroke: 2px white; /* For non-webkit browsers */
    padding-right: 20px;
}

.title {
    display: flex;
    flex-direction: column; /* Stack the words vertically */
    align-items: center;
    line-height: 1; /* Reduce space between lines */
}

.filled-text {
    font-size: 1.2em; /* Adjusted font size */
    color: white; /* Filled text color */
}

.outlined-text {
    font-size: 1.2em; /* Adjusted font size */
    color: transparent; /* Make text transparent */
    -webkit-text-stroke: 1px white; /* Outline color and thickness */
    text-stroke: 1px white; /* For non-webkit browsers */
}

@media (max-width: 1000px) {
    .hero {
        justify-content: center; /* Center content horizontally */
        align-items: center; /* Center content vertically */
        text-align: center; /* Center text within the container */
        padding-left: 0; /* Remove left padding */
    }

    .hero-text {
        max-width: 90%; /* Slightly wider on mobile for better readability */
        padding: 10px; /* Adjust padding for smaller screens */
        justify-content: center;
        text-align: center; /* Center text within the container */
    }

    .hero h1 {
        font-size: 4em; /* Adjust font size for mobile */
        flex-direction: column; /* Stack elements vertically */
    }

    .icon {
        font-size: 1.5em; /* Adjust icon size for mobile */
        padding: 10px;
    }

    .vertical-line {
        display: none; /* Hide the vertical line on mobile */
    }
}
