body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

header nav ul li {
    margin-left: 1rem;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

.container {
    display: flex;
    flex-wrap: wrap;
    margin: 2rem auto;
    padding: 1rem;
    max-width: 1200px; /* Adjust as necessary */
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.sidebar {
    flex: 1 1 250px;
    padding: 20px;
    background-color: #e9ecef;
    border-right: 1px solid #dee2e6;
    margin-bottom: 2rem; /* Adjust as necessary */
}

.main-content {
    flex: 3 1 600px;
    padding: 20px;
}

.calculator {
    display: flex;
    flex-direction: column;
}

.input-group {
    margin-bottom: 1rem;
}

.results {
    margin-top: 2rem;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.blog-list ul {
    list-style-type: none;
    padding: 0;
}

.blog-list ul li {
    margin-bottom: 1rem;
}

.blog-list ul li a {
    font-size: 1.2rem;
    color: #333;
    text-decoration: none;
}

.blog-list ul li a:hover {
    text-decoration: underline;
}

.newsfeed {
    margin-top: 2rem;
}

.newsfeed ul {
    list-style-type: none;
    padding: 0;
}

.newsfeed ul li {
    margin-bottom: 1rem;
}

.newsfeed ul li a {
    font-size: 1.2rem;
    color: #333;
    text-decoration: none;
}

.newsfeed ul li a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }
    
    header nav ul {
        flex-direction: column;
        width: 100%;
    }
    
    header nav ul li {
        margin: 0;
        padding: 0.5rem 0;
    }
    
    .container {
        flex-direction: column;
        margin: 1rem;
        padding: 0.5rem;
    }

    .sidebar {
        border-right: none;
        border-bottom: 1px solid #dee2e6;
        margin-bottom: 1rem;
    }

    .main-content {
        padding: 1rem 0;
    }
}

.img-responsive {
    max-width: 100%;
    max-height: 500px; /* Adjust as necessary */
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 0; /* Adds space above and below the image */
}
