---
layout: default
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="{{ '/assets/css/blog-post.css' | relative_url }}">
</head>

<body>
  <main class="container">
    <article class="blog-post">
      <h1>{{ page.title }}</h1>
      <div class="author-info">
        <img src="{{ page.author.image | relative_url }}" alt="{{ page.author.name }} Thumbnail" class="author-thumbnail">
        <div class="author-details">
          <p class="author-name">By {{ page.author.name }}</p>
          <p class="publish-date">{{ page.date | date: "%B %d, %Y" }}</p>
        </div>
      </div>
      {{ content }}
    </article>
  </main>
</body>
</html>
