<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ site.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/blog-post.css' | relative_url }}">
</head>
<body>
    <header>
        <nav>
            <div class="logo">
                <h1><a href="{{ '/' | relative_url }}">{{ site.title }}</a></h1>
            </div>
            <div class="menu-toggle" id="mobile-menu">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
            <ul class="nav-list">
                <li><a href="{{ '/' | relative_url }}">Home</a></li>
                <li><a href="{{ '/downloads' | relative_url }}">Downloads</a></li>
                <li><a href="{{ '/calculator' | relative_url }}">Calculator</a></li>
                <li><a href="{{ '/trade-recaps' | relative_url }}">Trade Recaps</a></li>

                <li><a href="{{ '/blog' | relative_url }}">Blog</a></li>
                
            </ul>
        </nav>
    </header>
    <main>
        {{ content }}
    </main>
    <footer>
        <p>&copy; {{ site.time | date: '%Y' }} {{ site.title }}</p>
    </footer>
    <script>
        const mobileMenu = document.getElementById('mobile-menu');
        const navList = document.querySelector('.nav-list');

        mobileMenu.addEventListener('click', () => {
            navList.classList.toggle('active');
        });
    </script>
    
    
</body>
</html>
