---
layout: default
---


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/blog-post.css' | relative_url }}">
  </head>
<div class="hero">
    <div class="hero-text">
        <h1>
            <span class="icon">
                <i class="fas fa-plug"></i>
            </span>
            <span class="title">
                <span class="filled-text">Daytrading</span>
                <span class="outlined-text">Unplugged</span>
            </span>
        </h1>
    </div>
</div>

<main>
    {{ content }}
</main>
